@charset "utf-8";
body{
	margin:0;
	padding:0px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.container-fluid {
	width: 550px;
	margin: 10px auto;
	height: 600px;
	border: 1px solid #C2C2C2;
	background: linear-gradient(to bottom,#000111 ,#2C3E50 100%);
}
header {
	width: 550px;
	height: 50px;
	display: block;
	background-color: #f2f2f2;

}
p{
	color:#ff4c4c;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:1.5em;
	padding:5px;
}
h2{
	color:#ff4c4c;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:1.5em;
	padding-left:20px;
}
#section{
	margin:10px auto;
}
#tab1{
	background-color:#000000;
	color:#ff4c4c;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:14px;
}
legend {
    display: block;
    width: 95%;
	margin-left:10px;
    padding-top: 10px;
    font-size: 20px;
    line-height: inherit;
    color: #ff4c4c;
    border: 0;
    border-bottom: 1px solid #000111;
}
#tabContent1{
	background: #FFFFFF;
	height:470px;
}
#form1{
	margin:5px auto;
}
label{
	font-size:13px;
	padding-left:10px;

}
#Ename{
	width:300px;
	height:25px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:10px;
	
}
#Lname{
	width:300px;
	height:25px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:10px;
}
#start_date{
	width:150px;
	height:30px;
	margin-left:10px;
	margin-top:5px;
	margin-bottom:5px;
}
#start_time{
	width:100px;
	height:30px;
	margin-left:10px;
	margin-top:5px;
	margin-bottom:5px;
}
#end_date {
    width: 150px;
    height: 30px;
    margin-left: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#end_time{
	width:100px;
	height:30px;
	margin-left:10px;
	margin-top:5px;
	margin-bottom:5px;
}
#Cbox{
	width:15px;
	height:15px;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:5px;
}
textarea {
    line-height: inherit;
	margin-left:10px;
	width:300px;
	height:120px;
}
#Save{
	width:80px;
	height:30px;
	margin-left:10px;
	background: #71ADF5;
	color:#ED2E31;
	border:none;
}
#cancel{
	width:80px;
	height:30px;
	margin-left:10px;
	background: #71ADF5;
	color:#ED2E31;
	border:none;
}


